.footer {
    width: 100%;
    height: auto;
    border-top: 1px solid #efefef;
    background: #fff;
    padding: 5rem 1.5rem;
    display: flex;
    align-items: center;


    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >a {
            color: #000;
            margin: 1rem;
            font-family: 'Rubik', sans-serif;

            font-size: 1.2rem;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 3px;
            }
        }
    }
}