.post {
    div {
        display: flex;

        p.tags {
            text-transform: uppercase;
            display: inline-block;
            background: #e4e4e4;
            margin-right: 0.5rem;
            padding: 0.5rem 2rem;
        }
    }

    .comments {
        display: flex;
        flex-direction: column;

        .singleComment {
            p:first-of-type {
                background: #EEE;
                padding: 1rem;
                margin-top: 1rem;
                border-radius: 20px;
            }
        }
    }
}